<h1>Pictures</h1>

<%= link_to 'Add new picture', new_picture_path %>

<% @pictures.each do |picture| %>
	<p><%= picture[:title] %>, <%= picture[:artist] %></p>
	<img src="<%= picture[:url] %>">
	<% end %>